<div class = 'container col-6 margin-top'>
<h1><%= t('.new_user') %></h1>

<%= render 'form', user: @user %>
<a class="btn btn-primary btn-lg btn-block btn-dark margin-top  btn-center col-6" href="<%= users_path %>"><%= t('.back') %></a>
</div>