// Place all the styles related to the fifteen controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#fifteen_select {
    font-size: large;
    margin-top: 4%;
    margin-bottom: 4%;
}

#size_game {
    margin-top: 4%;
}

.btn{
   background-color:rgb(131, 37, 219);
}


